<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZQSideColumnDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B63189F1C3E5E500074187F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B6318B81C3E5E500074187F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B6318C31C3E5E500074187F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
